<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316121509810-5h7aets0lg5mmb8jkl3n13cfmudglmef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316121509810-5h7aets0lg5mmb8jkl3n13cfmudglmef</string>
	<key>API_KEY</key>
	<string>AIzaSyBRO58VPdnZe5JnTmMkTJb61sTJuIv_j8s</string>
	<key>GCM_SENDER_ID</key>
	<string>316121509810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jennifer-Chukuemeka.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-97f3e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-97f3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316121509810:ios:6fe8b2e7bbee3ca2d93eab</string>
</dict>
</plist>